@inject NavigationManager navigationManager;
@inject VentaService ventaService;

@inject JefeService jefeService;

<h2>@titulo</h2>
<EditForm Model="@oVenta" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="mt-3">
        <label>Número de Empleado</label>
        <InputNumber class="form-control" @bind-Value="oVenta.Num_Empl" />
        <ValidationMessage For="@(() => oVenta.Num_Empl)" />
    </div>

    <div class="mt-3">
        <label>Nombre</label>
        <InputText class="form-control" @bind-Value="oVenta.Nombre" />
        <ValidationMessage For="@(() => oVenta.Nombre)" />
    </div>

    <div class="mt-3">
        <label>Edad</label>
        <InputNumber class="form-control" @bind-Value="oVenta.Edad" />
        <ValidationMessage For="@(() => oVenta.Edad)" />
    </div>

    <div class="mt-3">
        <label>Cargo</label>
        <InputText class="form-control" @bind-Value="oVenta.Cargo" />
        <ValidationMessage For="@(() => oVenta.Cargo)" />
    </div>

    <div class="mt-3">
        <label>Fecha de Contrato</label>
        <InputDate class="form-control" @bind-Value="oVenta.FechaContrato" />
        <ValidationMessage For="@(() => oVenta.FechaContrato)" />
    </div>

    <div class="mt-3">
        <label>Cuota</label>
        <InputNumber class="form-control" @bind-Value="oVenta.Cuota" />
        <ValidationMessage For="@(() => oVenta.Cuota)" />
    </div>

    <div class="mt-3">
        <label>Ventas</label>
        <InputNumber class="form-control" @bind-Value="oVenta.Ventas" />
        <ValidationMessage For="@(() => oVenta.Ventas)" />
    </div>
    <div class="mt-3">
        <label>Jefe</label>
        <InputSelect class="form-control" @bind-Value="oVenta.idjefe">
            <option value="">-- Seleccione --</option>
            @foreach (var jefe in listaJefes)
            {
                <option value="@jefe.idjefe">@jefe.nombrejefe</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => oVenta.idjefe)" />
    </div>
   
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger ms-2" @onclick="regresar">Regresar</button>
    </div>
</EditForm>

@code {
    public VentaCLS oVenta { get; set; } = new VentaCLS();
    
    [Parameter]
    public int num_Empl { get; set; }
    public string titulo { get; set; } = string.Empty;
    
    public List<Jefe> listaJefes { get; set; } = new List<Jefe>();


    private void Guardar()
    {
        if (titulo == "Agregar representante")
        {
            ventaService.guardarVenta(oVenta);
        }
        else if (titulo == "Editar representante")
        {
            ventaService.guardarVenta(oVenta);
        }

        navigationManager.NavigateTo("ventapage");
    }


    private void regresar()
    {
        navigationManager.NavigateTo("/ventapage");
    }
    protected override Task OnInitializedAsync()
    {
        listaJefes = jefeService.listarJefes();

        if (num_Empl == 0) titulo = "Agregar representante";
        else {
            titulo = "Editar representante";
            oVenta = ventaService.recuperaVentaPorID(num_Empl);
        }

        return base.OnInitializedAsync();
    }
}
